
.availableTablesContainer {
  /* You can add specific styles for the table list here */
  width: 45%; /* Adjust width to fit the layout */
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tableList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Or use flex-wrap to make it a grid */
  height: 200px; /* Or a fixed height with overflow */
  overflow-y: auto;
}

.tableList li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tableList li:hover {
  background-color: #f0f0f0;
}
