.login {
    width: 300px;
}

.center{
    display: grid;
    grid-template-columns: auto 400px;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.eyeClose,
.eyeOpen {
    position: absolute;
    right: 10px;
    bottom: -1px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
}

@media(max-width:800px){
    .center{
        display: flex;
    }
}