* {
  padding: 0;
  margin: 0;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: var(--font-poppins), sans-serif;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5px 40px;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 1;
  height: 57px;
}

header::after {
  content: "";
  top: 0;
  left: -40px;
  position: absolute;
  background-color: rgba(0, 61, 121, 1);
  height: 100%;
  width: 30%;
  min-width: 300px;
  transform: skew(45deg);
  z-index: 1;
}

header::before {
  content: "";
  top: 0;
  left: -20px;
  position: absolute;
  background-color: rgb(1, 92, 184);
  height: 100%;
  width: 30%;
  min-width: 300px;
  transform: skew(45deg);
  z-index: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 61, 121, 1);
  z-index: 0;
  overflow: hidden;
}

footer p {
  color: white;
  max-width: 900px;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 1.5rem;
  margin: 1.5rem auto;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 90%;
  max-width: 1100px;
  height: 550px;
  min-height: 520px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 0;
}

.containerSection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerForm {
  width: 100%;
  max-width: 450px;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 615px;
  background-image: url("/rock.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
  opacity: 1;
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
}

input,
select {
  flex: 1;
  min-width: 200px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  color: black;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

button {
  font-size: 1.5rem;
  padding: 1rem 1.75rem;
  border-radius: 4px;
  cursor: pointer;
}

.groupInput {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-weight: bold;
  border: none;
  color: #ffffff;
  transition: background-color 0.2s ease;
  max-width: 240px;
}

.buttonSearch {
  background-color: #2563eb;
}

.buttonSearch:hover {
  background-color: #1d4ed8;
}

.buttonCharge {
  background-color: #16a34a;
}

.buttonCharge:hover {
  background-color: #15803d;
}

.absoluteButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
  font-size: 1.5rem;
}

.containerInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.containerButton {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

.information {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: #f3f4f6;
  width: 100%;
  max-width: 450px;
  margin-top: 10px;
}

.information ul {
  padding: 1rem;
}

.title {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: start;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.padding {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggleSection {
  width: 100%;
  max-width: 750px;
  margin-top: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: #f9fafb;
}

.toggleGroup {
  display: flex;
  gap: 10px;
  background-color: #f3f4f6;
  border-radius: 6px;
  flex-wrap: wrap;
}

.toggleButton {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
}

.toggleButton.active {
  font-weight: 700;
  background-color: #e5e7eb;
  color: rgb(1, 92, 184);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgb(1, 92, 184);
}

p {
  font-size: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table th {
  position: sticky;
  top: 0px;
  background-color: rgb(1, 92, 184);
  color: white;
}

table tr {
  min-width: 400px;
}

.tableContainer {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  max-height: 430px;
  scrollbar-color: rgb(1, 92, 184) rgba(0, 0, 0, 0);
  background-color: #f9f9f9;
  width: 100%;
}

.centerGrid {
  display: grid;
  grid-template-columns: auto 400px;
  justify-content: center;
  align-items: center;
}

.messageBox {
  position: relative;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  opacity: 1;
  z-index: 100;
}

.messageBox.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
}

.success {
  background-color: #d1f7c4;
  color: #000000;
  border: 1px solid #a5d6a7;
}

.error {
  background-color: #ffcdd2;
  color: #000000;
  border: 1px solid #ef9a9a;
}

@media (max-width: 800px) {
  header {
    padding: 6px 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 600px;
    max-height: 600px;
    border-radius: 0;
  }

  .img {
    right: 50%;
    transform: translateX(50%);
    width: 600px;
    opacity: 1;
    height: 650px;
  }

  .img::before,
  .img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .img::before {
    left: 0;
    background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
  }

  .img::after {
    right: 0;
    background: linear-gradient(to left, #f9f9f9, rgba(128, 128, 128, 0));
  }

  .title {
    text-align: center;
  }

  .containerSection {
    align-items: center;
  }
}

@media (max-height: 960px) {
  .container {
    margin: 0;
  }
}