* {
  padding: 0;
  margin: 0;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: auto;
  scrollbar-width: none;
}

body {
  position: relative;
  font-family: var(--font-poppins), sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

main {
  position: relative;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5px 40px;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 1;
  height: 70px;
}

header::after {
  content: "";
  top: 0;
  left: -40px;
  position: absolute;
  background-color: #003e79;
  height: 100%;
  width: 30%;
  min-width: 300px;
  transform: skew(45deg);
  z-index: 1;
}

header::before {
  content: "";
  top: 0;
  left: -20px;
  position: absolute;
  background-color: rgb(1, 92, 184);
  height: 100%;
  width: 30%;
  min-width: 300px;
  transform: skew(45deg);
  z-index: 1;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #003e79;
  z-index: 0;
  overflow: hidden;
}

footer p {
  color: white;
  max-width: 900px;
  z-index: 2;
}

.mainContainer {
  position: relative;
  display: grid;
  grid-template-rows: 40px 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 1.5rem;
  margin: 1.5rem auto;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 90%;
  max-width: 1500px;
  height: 600px;
  min-height: 520px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 0;
  animation: fadeInUp 1s ease forwards;
}

.containerSection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerForm {
  width: 100%;
  max-width: 450px;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  width: 725px;
  height: 615px;
  background-image: url("/rock2.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
  opacity: 1;
}

.img::after {
  display: flex;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
}

input,
select {
  flex: 1;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  padding: 0.75rem;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  border-radius: 4px;
  font-size: 2rem;
  color: black;
  height: 4rem;
}

input:focus,
select:focus {
  background-color: #f9f9f9;
  outline:none;
    box-shadow: 0px 0px 8px 2px rgba(0, 62, 121, 0.5);
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]{
  min-width: 3rem;
}

label {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

button {
  font-size: 2rem;
  padding: 1rem 1.75rem;
  border-radius: 4px;
  cursor: pointer;
  height: 4rem;
}

.groupInput {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-weight: bold;
  border: none;
  color: #ffffff;
  transition: background-color 0.2s ease;
  max-width: 240px;
}

.buttonSearch {
  background-color: #2563eb;
}

.buttonSearch:hover {
  background-color: #1d4ed8;
}

.buttonCharge {
  background-color: #16a34a;
}

.buttonCharge:hover {
  background-color: #15803d;
}

.buttonCancel {
  background-color: #d32f2f;
}

.buttonCancel:hover {
  background-color: #d12020;
}

.absoluteButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

ul {
  list-style: none;
  font-size: 1.5rem;
}

.containerInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.containerButton {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

.information {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: #f3f4f6;
  width: 100%;
  max-width: 450px;
  margin-top: 10px;
}

.information ul {
  padding: 1rem;
}

.title {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: start;
  color:#bd8c01;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.padding {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggleSection {
  width: 100%;
  max-width: 750px;
  margin-top: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  background-color: #f9fafb;
}

.toggleGroup {
  display: flex;
  background-color: #f3f4f6;
  border-radius: 6px;
  flex-wrap: wrap;
  min-height: 45px;
}

.toggleButton {
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  overflow: hidden;
  max-height: 60px;
  padding: 1rem 0.5rem;
  min-width: 100px;
  min-height: 45px;
}

.toggleButton.active {
  font-weight: 700;
  background-color: #e5e7eb;
  color: rgb(1, 92, 184);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgb(1, 92, 184);
}

p {
  font-size: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table th {
  position: sticky;
  top: 0px;
  background-color: rgb(1, 92, 184);
  color: white;
}

table tr {
  min-width: 400px;
}

.tableContainer {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  max-height: 430px;
  scrollbar-color: rgb(1, 92, 184) rgba(0, 0, 0, 0);
  background-color: #f9f9f9;
  width: 100%;
}

.centerGrid {
  display: grid;
  grid-template-columns: auto 725px;
  justify-content: center;
  align-items: center;
}
.centerGrido {
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: center;
  align-items: center;
}

.impressions-title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: start;
}

.loginContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pass {
  display: flex;
  width: 300px;
}

.containerAlert {
  position: absolute;
  background-color: #003e79;
  z-index: 10;
}

.checkbox-grid label {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  margin-right: 1rem;
}

.checkbox-grid input[type="checkbox"] {
  margin: 0;
  padding: 0;
  transform: scale(1); /* mantiene el tamaño */
}

@media (max-width: 1330px) {
  .centerGrid {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 100%;
  }

  .img::after {
    background: linear-gradient(to right, #f9f9f993, rgba(128, 128, 128, 0));
  }

  .img::before {
    display: flex;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, #f9f9f993, rgba(128, 128, 128, 0));
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 800px) {
  header {
    padding: 6px 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 650px;
    max-height: 650px;
    border-radius: 0;
  }

  .mainContainer {
    grid-template-rows: 40px 1fr;
  }

  .img {
    background-image: url("/rock.jpg");
    right: 50%;
    transform: translateX(50%);
    width: 600px;
    opacity: 1;
    height: 650px;
  }

  .img::before,
  .img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .img::before {
    left: 0;
    background: linear-gradient(to right, #f9f9f9, rgba(128, 128, 128, 0));
  }

  .img::after {
    right: 0;
    background: linear-gradient(to left, #f9f9f9, rgba(128, 128, 128, 0));
  }

  .containerSection {
    align-items: center;
  }

  .centerGrid {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  footer p {
    font-size: 1.2rem;
  }

  label {
    font-size: 1.5rem;
  }

  input,
  select {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .toggleButton {
    padding: 0;
  }
}

@media (max-height: 960px) {
  .container {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .title {
    max-width: 250px;
    overflow-wrap: break-word;
  }
}
