.falling-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.square {
  position: absolute;
  top: -100px;
  opacity: 0.1;
  animation: fall linear infinite;
  border-radius: 6px;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(1080deg);
  }
}

.square:nth-child(1) {
  left: 10%;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #f6ff7e, #e6ff75);
  animation-duration: 11s;
  animation-delay: 0s;
}

.square:nth-child(2) {
  left: 25%;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #438bce, #185a9d);
  animation-duration: 12s;
  animation-delay: 2s;
}

.square:nth-child(3) {
  left: 40%;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #f7d71e, #ffd200);
  animation-duration: 15s;
  animation-delay: 1s;
}
.square:nth-child(4) {
  left: 55%;
  width: 70px;
  height: 70px;
  background: linear-gradient(45deg, #ffe600, #ffd000);
  animation-duration: 17s;
  animation-delay: 3s;
}
.square:nth-child(5) {
  left: 70%;
  width: 45px;
  height: 45px;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  animation-duration: 14.5s;
  animation-delay: 1.5s;
}
.square:nth-child(6) {
  left: 85%;
  width: 55px;
  height: 55px;
  background: linear-gradient(45deg, #535ef9, #201db9);
  animation-duration: 16.5s;
  animation-delay: 2.5s;
}
.square:nth-child(7) {
  left: 15%;
  width: 65px;
  height: 65px;
  background: linear-gradient(45deg, #115799, #384aef);
  animation-duration: 15.5s;
  animation-delay: 1.2s;
}
.square:nth-child(8) {
  left: 35%;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #ffdf4e, #f9d423);
  animation-duration: 17.5s;
  animation-delay: 0.5s;
}
.square:nth-child(9) {
  left: 60%;
  width: 75px;
  height: 75px;
  background: linear-gradient(45deg, #b09000, #98c93d);
  animation-duration: 14.2s;
  animation-delay: 2.8s;
}
.square:nth-child(10) {
  left: 80%;
  width: 28px;
  height: 28px;
  background: linear-gradient(45deg, #ffdb66, #f4ff5e);
  animation-duration: 16.8s;
  animation-delay: 1.8s;
}

@media (min-width: 768px) {
  .square {
    animation: fall linear infinite;
  }
}

@media (max-width: 767px) {
  .square {
    animation: none;
  }
}
