/* Animaciones */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0.9;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 0.9;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.messageBox {
  display: flex;
  position: absolute;
  padding: 0.5rem 1.25rem;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  z-index: 100;
  top: 0;
  left: 0;
  max-width: 500px;
  max-height: min-content;
  opacity: 0;
}

.messageBox:not(.hidden) {
  animation: slideInLeft 0.5s ease forwards;
}

.messageBox.hidden {
  animation: slideOutRight 0.5s ease forwards;
}

.success {
  background-color: #d1f7c4;
  color: #000000;
  border: 1px solid #a5d6a7;
}

.error {
  background-color: #ffcdd2;
  color: #000000;
  border: 1px solid #ef9a9a;
}
