.gridAlta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.containerAlta {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  padding: 1rem;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .gridAlta {
    grid-template-columns: 1fr;
    justify-items: center;
    min-width: max-content;
  }

  .containerAlta {
    width: 80%;
  }
}
