.inscripcion {
  position: relative;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  max-width: 700px;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containeInformation {
  display: flex;
  gap: 10px;
  width: 100%;
}

.firstPartInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

@media (max-width: 800px) {
  .containeInformation {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .containeInformation {
    flex-direction: column;
  }
}
